@mixin textDecoration {
  a {
    &:hover {
      > span {
        &::after {
          width: 100%;
        }
      }
    }

    span {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: var(--bv);
        width: 0%;
        height: 1px;
        background-color: var(--green);
        transition: width 0.3s;
      }
    }
  }
}

@mixin mediaScreen($range) {
  @if $range == "mobile" {
    @media all and (width < 430px) {
      @content;
    }
  } @else if $range == "tablet" {
    @media all and (width < 768px) {
      @content;
    }
  } @else if $range == "desktop" {
    @media all and (width < 1024px) {
      @content;
    }
  }
}
